<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <main class="content">

      <div class="sidebar-hamburger">
        <span class="sbar"></span>
        <span class="sbar"></span>
        <span class="sbar"></span>
      </div>

      <div class="flex">
        <a href="/ecommerce-management/ecommerce-views/view-products/<%= gender %>"><i class="fa-solid fa-arrow-left"></i></a>
      </div>

      <br>

      <div class="flex">
        <h3><i class="fa-solid fa-cart-shopping"></i><span>Ecommerce -> Add Product</span></h3>
      </div>

      <br>  
      
      <div class="server-message"></div>

      <br>

      <form id="add-product-form">

        <div>
          <div class="input-image">
            <p><span class="browse"><i class="fa-solid fa-image"></i> Select image</span></p>
            <input type="file" class="file" accept="image/jpeg, image/png, image/jpg" required>
          </div>
          <br>
          <div class="queued-image"></div>
          <br>
          <select id="category">
            <option selected value="">Category</option>
            <option value="t-shirts">T-shirts</option>
            <option value="pants">Pants</option>
            <option value="sweaters">Jackets</option>
            <option value="jackets">Sweaters</option>
            <option value="shoes">Shoes</option>
            <option value="hats">Hats</option>
            <option value="accessories">Accessories</option>
            <option value="cosmetics">Cosmetics</option>
            <option value="fragrances">Fragrances</option>
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
          </select>
          <br>
          <br>
          <select id="gender">
            <option selected value="">Gender</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="DNA">Does not apply</option>
          </select>
          <br>
          <br>
          <input type="text" id="brand" maxlength="100" placeholder="Brand" value="">
          <br>
          <br>
          <input type="text" id="sku" maxlength="7" OnInput="add_hyphen()" placeholder="SKU" value="">
          <br>
          <br>
          <input type="text" id="name" maxlength="100" placeholder="Name" value="">
          <br>
          <br>
          <input type="number" id="price" maxlength="100" placeholder="Price" step="any" value="" min="0">
          <br>
          <br>
          <input type="number" id="sale_price" maxlength="100" placeholder="Sale price (optional)" value="" min="0" step="any">
          <br>
          <br>
          <textarea id="description" placeholder="Description"></textarea>
          <br>
          <br>
          <button class="auth-btn button"><span class="button__text">Add</span></button>
        </div>

        <div>
          <h4>Quantity on hand</h4>
          <br>
          <h5>One size</h5>
          <br>
          <input type="number" id="quantity" min="0" placeholder="Quantity">
          <br>
          <br>
          <h5>General sizes</h5>
          <br>
          <input type="number" id="quantity_XS" min="0" placeholder="XS">
          <br>
          <br>
          <input type="number" id="quantity_S" min="0" placeholder="S">
          <br>
          <br>
          <input type="number" id="quantity_M" min="0" placeholder="M">
          <br>
          <br>
          <input type="number" id="quantity_L" min="0" placeholder="L">
          <br>
          <br>
          <input type="number" id="quantity_XL" min="0" placeholder="XL">
          <br>
          <br>
          <input type="number" id="quantity_XXL" min="0" placeholder="XXL">
          <!-- <br>
          <br>
          <h5>Hat sizes</h5>
          <br>
          <input type="number" id="6_78" placeholder="6 7/8">
          <br>
          <br>
          <input type="number" id="7" placeholder="7">
          <br>
          <br>
          <input type="number" id="7_18 " placeholder="7 1/8">
          <br>
          <br>
          <input type="number" id="7_14" placeholder="7 1/4">
          <br>
          <br>
          <input type="number" id="7_38" placeholder="7 3/8">
          <br>
          <br>
          <input type="number" id="7_12" placeholder="7 1/2">
          <br>
          <br>
          <input type="number" id="7_58" placeholder="7 5/8">
          <br>
          <br>
          <input type="number" id="7_34" placeholder="7 3/4">
          <br>
          <br>
          <input type="number" id="7_78" placeholder="7 7/8">
          <br>
          <br>
          <input type="number" id="8" placeholder="8">
          <br>
          <br>
          <input type="number" id="8_18" placeholder="8 1/8">
          <br>
          <br>
          <input type="number" id="8_14" placeholder="8 1/4"> -->
        </div>
        
      </form>

    </main>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>
  <script>
    const addProductForm = document.querySelector("#add-product-form"),
      queuedImage = document.querySelector('.queued-image'),
      inputImage = document.querySelector('.input-image'),
      input = document.querySelector('.input-image input'),
      serverMessage = document.querySelector('.server-message'),
      btn = document.querySelector(".button");

    let queuedImageArray = []

    function add_hyphen() {
      const skuInput = document.querySelector("#sku")
      let str = skuInput.value;
      str = str.replace("-","");
      if (str.length > 3) {
          str = str.substring(0,3) + "-" + str.substring(3)
      }
      skuInput.value = str
    }

    function displayQueuedImage() {
      let images = "";
      queuedImageArray.forEach((image, index) => {
        images += `<div class="image">
                  <img src="${URL.createObjectURL(image)}" alt="image">
                  <span onclick="deleteQueuedImage(${index})">&times;</span>
                </div>`;
      })
      queuedImage.innerHTML = images;
    }

    function deleteQueuedImage(index) {
      queuedImageArray.splice(index, 1);
      displayQueuedImage();
    }

    input.addEventListener("change", () => {
      const files = input.files;
      for (let i = 0; i < files.length; i++) {
        queuedImageArray[0] = files[i]
      }
      displayQueuedImage()
    })

    addProductForm.addEventListener("submit", (e) => {
      e.preventDefault()
      sendQueuedImageToServer()
    })

    function sendQueuedImageToServer() {

      const formData = new FormData(addProductForm),
      name = document.querySelector("#name").value,
      brand = document.querySelector("#brand").value,
      description = document.querySelector("#description").value,
      price = document.querySelector("#price").value,
      sale_price = document.querySelector("#sale_price").value,
      category = document.querySelector("#category").value,
      gender = document.querySelector("#gender").value,
      sku = document.querySelector("#sku").value,
      quantity = document.querySelector("#quantity").value,
      quantity_XS = document.querySelector("#quantity_XS").value,
      quantity_S = document.querySelector("#quantity_S").value,
      quantity_M = document.querySelector("#quantity_M").value,
      quantity_L = document.querySelector("#quantity_L").value,
      quantity_XL = document.querySelector("#quantity_XL").value,
      quantity_XXL = document.querySelector("#quantity_XXL").value;

      formData.append("image", queuedImageArray[0])
      formData.append("name", name)
      formData.append("brand", brand)
      formData.append("description", description)
      formData.append("price", price)
      formData.append("sale_price", sale_price)
      formData.append("category", category)
      formData.append("gender", gender)
      formData.append("sku", sku)
      formData.append("quantity", quantity)
      formData.append("quantity_XS", quantity_XS)
      formData.append("quantity_S", quantity_S)
      formData.append("quantity_M", quantity_M)
      formData.append("quantity_L", quantity_L)
      formData.append("quantity_XL", quantity_XL)
      formData.append("quantity_XXL", quantity_XXL);

      btn.classList.add("button--loading");
      btn.disabled = true

      fetch("/ecommerce-management/add-product", {
        method: "POST",
        body: formData
      })

      .then( response => response.json() )

      .then(response => {
        if (response.status !== 200) throw Error(response.statusMessage)
        addProductForm.reset()
        queuedImage.innerHTML = ""
        serverMessage.innerHTML = response.statusMessage
        serverMessage.style.cssText = "background-color: #d4edda; color:#1b5e20; padding: 16px;"
        btn.classList.remove("button--loading")
        btn.disabled = false
      })

      .catch(error => {
        serverMessage.innerHTML = error.toString().split(": ")[1]
        serverMessage.style.cssText = "background-color: #f8d7da; color:#b71c1c; padding: 16px;"
        btn.classList.remove("button--loading")
        btn.disabled = false
      });

    }
  </script>

  <%- include("partial-views/footer.ejs") %>