<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if(typeof message=="undefined" ) { %>

      <div class="modal-overlay">
        <div class="modal">
          <i class="fa-solid fa-xmark" id="close-modal"></i>
          <form action="/ecommerce-management/ecommerce-views/delete-product/<%= result[0].gender%>/<%= result[0].id %>" id="delete-product-form" method="GET">
            <h4>Sure you want to delete this product?</h4>
            <button>Delete</button>
          </form>
        </div>
      </div>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <a href="/ecommerce-management/ecommerce-views/<%= gender %>/view-<%= gender %>-products"><i class="fa-solid fa-arrow-left"></i></a>          
          <button id="show-modal">Delete product</button>
        </div>

        <br>

        <div class="flex">
          <h3><i class="fa-solid fa-cart-shopping"></i><span>Ecommerce -> Edit Product</span></h3>
        </div>
        
        <br>

        <div class="server-message"></div>

        <br>

        <form id="edit-product-form">
          <div>
            <div class="input-image">
              <p><span class="browse"><i class="fa-solid fa-image"></i> Select image</span></p>
              <input type="file" class="file" accept="image/jpeg, image/png, image/jpg">
            </div>
            <br>
            <div class="queued-image"></div>
            <br>
            <input type="hidden" id="id" value="<%= result[0].id %>">
            <select id="category" required>
              <option selected value="<%= result[0].category %>"><%= result[0].category %></option>
              <option value="t-shirts">T-Shirts</option>
              <option value="pants">Pants</option>
              <option value="sweaters">Jackets</option>
              <option value="jackets">Sweaters</option>
              <option value="shoes">Shoes</option>
              <option value="hats">Hats</option>
              <option value="accessories">Accessories</option>
              <option value="cosmetics">Cosmetics</option>
              <option value="fragrances">Fragrances</option>
              <option value="electronics">Electronics</option>
            </select>
            <br>
            <br>
            <select id="gender" required>
              <option selected value="<%= result[0].gender %>"><%= result[0].gender %></option>
              <option value="men">Men</option>
              <option value="women">Women</option>
              <option value="DNA">Does not apply</option>
            </select>
            <br>
            <br>
            <input type="text" id="brand" maxlength="100" placeholder="Brand" value="<%= result[0].brand %>" required>
            <br>
            <br>
            <input type="text" id="sku" maxlength="7" OnInput="add_hyphen()" placeholder="SKU number" value="<%= result[0].sku %>" required>
            <br>
            <br>
            <input type="text" id="name" maxlength="100" placeholder="Name" value="<%= result[0].name %>" required>
            <br>
            <br>
            <input type="number" id="price" maxlength="100" placeholder="Price" step="any" value="<%= result[0].price %>" min="0" required>
            <br>
            <br>
            <input type="number" id="sale_price" maxlength="100" placeholder="Sale Price (optional)" step="any" value="<%= result[0].sale_price %>" min="0">
            <br>
            <br>
            <textarea id="description" placeholder="Description" required><%= result[0].description %></textarea>
            <br>
            <br>
            <button class="auth-btn button"><span class="button__text">Update</span></button>
          </div>
        
          <div>
            <h4>Quantity on hand</h4>
            <br>
            <h5>One size</h5>
            <br>
            <input type="number" id="quantity" min="0" value="<%= result[0].quantity %>" placeholder="Quantity">
            <br>
            <br>
            <h5>General sizes</h5>
            <br>
            <input type="number" id="quantity_XS" min="0" value="<%= result[0].quantity_XS %>" placeholder="XS">
            <br>
            <br>
            <input type="number" id="quantity_S" min="0" value="<%= result[0].quantity_S %>" placeholder="S">
            <br>
            <br>
            <input type="number" id="quantity_M" min="0" value="<%= result[0].quantity_M %>" placeholder="M">
            <br>
            <br>
            <input type="number" id="quantity_L" min="0" value="<%= result[0].quantity_L %>" placeholder="L">
            <br>
            <br>
            <input type="number" id="quantity_XL" min="0" value="<%= result[0].quantity_XL %>" placeholder="XL">
            <br>
            <br>
            <input type="number" id="quantity_XXL" min="0" value="<%= result[0].quantity_XXL %>" placeholder="XXL">
          </div>
        
        </form>

      </main>

      <script>
        const editProductForm = document.querySelector("#edit-product-form"),
          pageHeader = document.querySelector(".page-header"),
          queuedImage = document.querySelector('.queued-image'),
          inputImage = document.querySelector('.input-image'),
          input = document.querySelector('.input-image input'),
          serverMessage = document.querySelector('.server-message'),
          savedImage = JSON.parse('<%-JSON.stringify(result[0].image)%>'),
          btn = document.querySelector(".button");

        let queuedImageArray = []

        if (savedImage) {
          displaySavedImage()
        }

        function add_hyphen() {
          const skuInput = document.querySelector("#sku")
          let str = skuInput.value;
          str = str.replace("-","");
          if (str.length > 3) {
              str = str.substring(0,3) + "-" + str.substring(3)
          }
          skuInput.value = str
        }

        function displaySavedImage() {
          queuedImageArray.push(savedImage)
          queuedImage.innerHTML = `<div class="image">
                          <img src="http://localhost:5000/ecommerce-management/${savedImage}" alt="image">
                          <span onclick="deleteQueuedImage(${0})">&times;</span>
                        </div>`;
        }

        function displayQueuedImage() {
          let images = "";
          queuedImageArray.forEach((image, index) => {
            images += `<div class="image">
                          <img src="${URL.createObjectURL(image)}" alt="image">
                          <span onclick="deleteQueuedImage(${index})">&times;</span>
                        </div>`;
          })
          queuedImage.innerHTML = images;
        }

        function deleteQueuedImage(index) {
          queuedImageArray.splice(index, 1);
          displayQueuedImage();
        }

        input.addEventListener("change", () => {
          const files = input.files;
          for (let i = 0; i < files.length; i++) {
            queuedImageArray[0] = files[i]
          }
          displayQueuedImage()
        })

        editProductForm.addEventListener("submit", (e) => {
          e.preventDefault()
          sendQueuedImageToServer()
        })

        function sendQueuedImageToServer() {
          const formData = new FormData(editProductForm),
          id = document.querySelector("#id").value,
          name = document.querySelector("#name").value,
          brand = document.querySelector("#brand").value,
          description = document.querySelector("#description").value,
          price = document.querySelector("#price").value,
          category = document.querySelector("#category").value,
          gender = document.querySelector("#gender").value,
          sku = document.querySelector("#sku").value,
          quantity = document.querySelector("#quantity").value,
          quantity_XS = document.querySelector("#quantity_XS").value,
          quantity_S = document.querySelector("#quantity_S").value,
          quantity_M = document.querySelector("#quantity_M").value,
          quantity_L = document.querySelector("#quantity_L").value,
          quantity_XL = document.querySelector("#quantity_XL").value,
          quantity_XXL = document.querySelector("#quantity_XXL").value;

          let sale_price = document.querySelector("#sale_price").value
          if(sale_price == "" || sale_price == 0){
            sale_price = null
          }

          formData.append("id", id)
          formData.append("name", name)
          formData.append("brand", brand)
          formData.append("description", description)
          formData.append("price", price)
          formData.append("sale_price", sale_price)
          formData.append("image", queuedImageArray[0])   // image to upload
          formData.append("savedImage", savedImage)       // image to delete
          formData.append("category", category)
          formData.append("gender", gender)
          formData.append("sku", sku)
          formData.append("quantity", quantity)
          formData.append("quantity_XS", quantity_XS)
          formData.append("quantity_S", quantity_S)
          formData.append("quantity_M", quantity_M)
          formData.append("quantity_L", quantity_L)
          formData.append("quantity_XL", quantity_XL)
          formData.append("quantity_XXL", quantity_XXL)

          if (queuedImageArray[0] === savedImage) {

            btn.classList.add("button--loading");
            btn.disabled = true

            fetch("/ecommerce-management/edit-product-info", {
              method: "PUT",
              headers: {
                "Accept": "application/json, text/plain, */*",
                "Content-type": "application/json"
              },
              body: JSON.stringify({ id:id, name:name, brand:brand, description:description, price:price, sale_price:sale_price, image:savedImage, category:category, gender:gender, sku:sku, quantity:quantity, quantity_XS:quantity_XS, quantity_S:quantity_S, quantity_M:quantity_M, quantity_L:quantity_L, quantity_XL:quantity_XL, quantity_XXL:quantity_XXL })
            })

            .then( response => response.json() )

            .then(response => {
              if (response.status !== 200) throw Error(response.statusMessage)
              serverMessage.innerHTML = response.statusMessage
              serverMessage.style.cssText = "background-color: #d4edda; color:#1b5e20; padding: 16px;"
              btn.classList.remove("button--loading")
              btn.disabled = false
            })

            .catch(error => {
              serverMessage.innerHTML = error
              serverMessage.style.cssText = "background-color: #f8d7da; color:#b71c1c; padding: 16px;"
              btn.classList.remove("button--loading")
              btn.disabled = false
            });
          } else {

            btn.classList.add("button--loading");
            btn.disabled = true

            fetch("/ecommerce-management/edit-product-info-and-image", {
              method: "PUT",
              body: formData
            })

            .then( response => response.json() )

            .then(response => {
              if (response.status !== 200) throw Error(response.statusMessage)
              serverMessage.innerHTML = response.statusMessage
              serverMessage.style.cssText = "background-color: #d4edda; color:#1b5e20; padding: 16px;"
              btn.classList.remove("button--loading")
              btn.disabled = false
            })

            .catch(error => {
              serverMessage.innerHTML = error
              serverMessage.style.cssText = "background-color: #f8d7da; color:#b71c1c; padding: 16px;"
              btn.classList.remove("button--loading")
              btn.disabled = false
            });
          }

        }
      </script>
      <script src="/js/ecommerce-js/edit-product-modal.js"></script>

    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <a href="/ecommerce-management/ecommerce-views/<%= gender %>/view-products"><i class="fa-solid fa-arrow-left"></i></a>          
          <button id="show-modal">Delete product</button>
        </div>

        <br>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>

    <% } %>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

  <%- include("partial-views/footer.ejs") %>