<%- include("partials/header.ejs") %>

  <div class="app">

    <%- include("partials/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="server-message"></div>

        <h3>eCommerce management</h3>

        <br>

        <h4>View products</h4>

        <% for(let i=0;i < rows.length;i++) { %>

          <h4>Jeans</h4>
          <br>
          <% if(rows[0].pCategory == "jeans") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Tops</h4>
          <br>
          <% if(rows[0].pCategory=="tops") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Sweaters</h4>
          <br>
          <% if(rows[0].pCategory=="sweaters") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Jackets</h4>
          <br>
          <% if(rows[0].pCategory=="jackets") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Shoes</h4>
          <br>
          <% if(rows[0].pCategory=="shoes") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Hats</h4>
          <br>
          <% if(rows[0].pCategory=="hats") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <h4>Accessories</h4>
          <br>
          <% if(rows[0].pCategory=="accessories") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h1>
                <%= rows[0].pName %>
              </h1>
              <p class="price">
                <%= rows[0].pPrice %>
              </p>
              <p>
                <%= rows[0].pDescription %>
              </p>
            </div>
          <% } %>

          <p>Electronics</p>
          <br>
          <% if(rows[0].pCategory=="electronics") { %>
            <div class="card">
              <img src="http://localhost:5000/ecommerce-management/<%= rows[0].pImage %>" alt="image" style="width:100%">
              <h3>
                <%= rows[0].pName %>
              </h3>
              <p class="price">
                $<%= rows[0].pPrice %>
              </p>
            </div>
          <% } %>

        <% } %>

      </main>

    <% } else { %>
      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
        <h3>eCommerce management</h3>
      
        <br>
      
        <h4>View products</h4>
      
      </main>
    <% } %>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>

  <%- include("partials/footer.ejs") %>