<%- include("partials/header.ejs") %>

  <% if (typeof message == "undefined") { %>

    <div class="container">

      <% if(flashMessage != "") { %>
        <div class="server-message success">
          <%= flashMessage %>
        </div>
      <% } else { %>
        <div class="margin"></div>
      <% } %>

      <form action="/admin/find-user" method="POST">
        <div class="db-search">
          <div>
            <h2>User Management System</h2>
          </div>
          <div>
            <input type="text" name="search" placeholder="Search"><button>Search</button>
          </div>
        </div>
      </form>

      <div class="db-search">
        <div style="width:fit-content; display: flex; gap: 10px;">
          <% if (typeof success !="undefined" && success) { %>
            <a href="/admin" class="view"><i class="fa-solid fa-eye"></i> View Users</a>
          <% } %>
          <a href="/admin/create-user" class="create"><i class="fa-solid fa-user-plus"></i> Create User</a>
        </div>
      </div>
      
      <br>
      <table>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Status</th>
          <th class="text-end">Action</th>
        </tr>
        <% for(let i=0;i < rows.length;i++) { %>
          <tr>
            <td>
              <%= rows[i].id %>
            </td>
            <td>
              <%= rows[i].fName %>
            </td>
            <td>
              <%= rows[i].lName %>
            </td>
            <td>
              <%= rows[i].email %>
            </td>
            <td>
              <%= rows[i].status %>
            </td>
            <td class="text-end">
              <a href="/admin/view-user/<%= rows[i].id %>" class="view"><i class="fa-solid fa-eye"></i> View</a>
              <% if(user.id !=rows[i].id) { %>
                <a href="/admin/edit-user/<%= rows[i].id %>" class="edit"><i class="fa-solid fa-pencil"></i> Edit</a>
                <a href="/admin/delete-user/<%= rows[i].id %>" class="delete"><i class="fa-solid fa-user-minus"></i> Delete</a>
              <% } %>
            </td>
          </tr>
          <% } %>
      </table>

    </div>

  <% } else { %>

    <div class="container">

      <div class="server-message error">
        <%= message %>
      </div>
      
      <form action="/admin/find-user" method="POST">
        <div class="db-search">
          <div>
            <h2>User Management System</h2>
          </div>
          <div>
            <input type="text" name="search" placeholder="Search"><button>Search</button>
          </div>
        </div>
      </form>

    </div>

  <% } %>

  <script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %>