<%- include("partials/header.ejs") %>

  <% if (typeof message == "undefined") { %>

    <div class="container">

      <% if(typeof flashMessage !="undefined" && flashMessage !="" ) { %>
        <div class="server-message success">
          <%= flashMessage %>
        </div>
      <% } else { %>
        <div class="margin"></div>
      <% } %>

      <form action="/user-management/find-banned-users" method="POST">
        <div class="user-management">
          <div>
            <h2>User Management</h2>
          </div>
          <div>
            <input type="text" name="search" placeholder="Search blocked users..."><button>Search</button>
          </div>
        </div>
      </form>

      <div class="create-user">
        <div>
          <a href="/user-management/create-user"><i class="fa-solid fa-user-plus"></i> Create User</a>
        </div>
      </div>
      
      <br>

      <div class="view-users">
        <h4>Viewing Blocked Users</h4>
        <div>
          <a href="/user-management/active-users"><i class="fa-solid fa-user"></i> View All Active Users</a>
          <a href="/user-management/banned-users" class="active-user"><i class="fa-solid fa-user-slash"></i> View All Banned Users</a>
          <a href="/user-management/deleted-users"><i class="fa-solid fa-user-xmark"></i> View All Deleted
            Users</a>
        </div>
      </div>

      <br>

      <table>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Status</th>
          <th class="text-end">Action</th>
        </tr>
        <% for(let i=0;i < rows.length;i++) { %>
          <tr>
            <td>
              <%= rows[i].id %>
            </td>
            <td>
              <%= rows[i].fName %>
            </td>
            <td>
              <%= rows[i].lName %>
            </td>
            <td>
              <%= rows[i].email %>
            </td>
            <td>
              <%= rows[i].status %>
            </td>
            <td class="text-end">
              <a href="/user-management/view-user/<%= rows[i].id %>"><i class="fa-solid fa-eye"></i> View</a>
              <% if(user.id !=rows[i].id) { %>
                <a href="/user-management/edit-user/<%= rows[i].id %>"><i class="fa-solid fa-pencil"></i> Edit</a>
                <a href="/user-management/delete-banned-user/<%= rows[i].id %>"><i class="fa-solid fa-user-minus"></i> Delete</a>
              <% } %>
            </td>
          </tr>
          <% } %>
      </table>

    </div>

  <% } else { %>

    <div class="container">

      <div class="server-message error">
        <%= message %>
      </div>
      
      <form action="/user-management/find-banned-users" method="POST">
        <div class="user-management">
          <div>
            <h2>User Management</h2>
          </div>
          <div>
            <input type="text" name="search" placeholder="Search"><button>Search</button>
          </div>
        </div>
      </form>

    </div>

  <% } %>

  <script src="/js/script.js"></script>

<%- include("partials/footer.ejs") %></br>