<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>

      <div class="modal-overlay">
        <div class="modal">
          <i class="fa-solid fa-xmark" id="close-modal"></i>
          <form action="/newsletter-management/newsletter-views/delete-subscribers" method="POST">
            <input type="hidden" name="removeEmails" value="[]">
            <h4>Are you sure?</h4>
            <button>Yes</button>
          </form>
        </div>
      </div>


      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <h3><i class="fa-sharp fa-solid fa-envelope"></i><span>Newsletter / Subscribers</span></h3>
          <div>
            <button><a href="/newsletter-management/newsletter-views/view-subscribers"><i class="fa-solid fa-eye"></i> All Subscribers</a></button>
            <button><a href="/newsletter-management/newsletter-views/compose-email"><i class="fa-solid fa-envelopes-bulk"></i> Compose Email</a></button>
            <button><a href="/newsletter-management/newsletter-views/add-subscriber"><i class="fa-solid fa-plus"></i> Add Subscriber</a></button>
          </div>
        </div>

        <br>

        <% if(typeof flash !="undefined" && flash !="" && flash != "Internal server error") { %>
          <div class="server-message success">
            <%= flash %>
          </div>
          <br>
        <% } %>

        <% if(typeof flash !="undefined" && flash !="" && flash == "Internal server error") { %>
          <div class="server-message error">
            <%= flash %>
          </div>
          <br>
        <% } %>

        <% if (typeof flash != "undefined" && flash == "") { %>
          <div class="server-message"></div>
          <br>
        <% } %>

        <h4>Subscribers (<%= result.length %>)</h4>

        <br>
        
        <form action="/newsletter-management/newsletter-views/search-subscribers" method="POST">
          <div class="user-management">
            <input type="text" name="search" placeholder="Search subscribers..."><button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </form>

        <br>

        <div class="flex">
          <div>
            <div class="edit-controller">
              <div class="flex">
                <button id="edit-subs-btn"><a><i class="fa-solid fa-pen-to-square"></i> Edit Subscribers</a></button>
              </div>
            </div>
            <div class="delete-controller">
              <div class="flex flex-start">
                <button id="cancel-subs-btn"><a><i class="fa-solid fa-xmark"></i> Cancel</a></button>
                <button id="select-all-subs-btn"><a><i class="fa-solid fa-square-check"></i> Select All</a></button>
                <button id="deselect-all-subs-btn"><a><i class="fa-solid fa-square-check"></i> Deselect All</a></button>
                <button id="show-modal"><a><i class="fa-solid fa-user-minus"></i> Unsubscribe</a></button>
              </div>  
            </div>  
          </div>
        </div>

        <br>
   
        <table id="subscriber-table">
          <tr>
            <th><input id="select-all" type="checkbox" disabled></th>
            <th>Email</th>
            <th>Subscribed</th>
          </tr>
          <% for(let i=0;i < result.length;i++) { %>
            <tr>
              <td>
                <input value="<%= result[i].email %>" type="checkbox" disabled>
              </td>
              <td>
                <%= result[i].email %>
              </td>
              <td>
                <%= result[i].date_subscribed %>
              </td>
            </tr>
          <% } %>
        </table>
      </main>

      <script>

        const subscriberTable = document.querySelector("#subscriber-table"),
        editController = document.querySelector(".edit-controller"),
        deleteController = document.querySelector(".delete-controller"),
        topCheckbox = subscriberTable.querySelector("#select-all"),
        checkbox = subscriberTable.querySelectorAll('tbody>tr>td>input'),
        editSubscribersBtn = document.querySelector("#edit-subs-btn"),
        selectSubscribersBtn = document.querySelector("#select-all-subs-btn"),
        cancelSubscribersBtn = document.querySelector("#cancel-subs-btn"),
        deselectSubscribersBtn = document.querySelector("#deselect-all-subs-btn"),
        serverMessage = document.querySelector(".server-message");
        let removeEmails = [];

        // FUNCTION TO CHECK ONE CHECKBOX AT A TIME

        const checkOne = function(e) {
          if(e.currentTarget.checked){
            removeEmails.push(e.currentTarget.value)
          } else {
            let i = removeEmails.indexOf(e.currentTarget.value)
            removeEmails.splice(i, 1)
          }
          document.querySelector('[name="removeEmails"]').value = JSON.stringify(removeEmails)
        }   

        // ADD CHECKONE ONE FUNCTION TO EACH CHECKBOX

        checkbox.forEach((cb) => {
          cb.addEventListener("change", checkOne)
        })

        // TOP CHECKBOX 

        topCheckbox.addEventListener("change", () => {
          if (topCheckbox.checked) {
            removeEmails = []
            checkbox.forEach((cb) => {
              cb.checked = true;
              removeEmails.push(cb.value);
            })
          } else {
            removeEmails = []
            checkbox.forEach((cb) => {
              cb.checked = false
            })
          }
          document.querySelector('[name="removeEmails"]').value = JSON.stringify(removeEmails);
        })

        // EDIT BUTTON

        editSubscribersBtn.addEventListener("click", () => {
          editController.style.display = "none";
          deleteController.style.display = "block";
          topCheckbox.disabled = false
          checkbox.forEach(cb => {
            cb.disabled = false
          })
        })

        // CANCEL BUTTON

        cancelSubscribersBtn.addEventListener("click", () => {
          editController.style.display = "block";
          deleteController.style.display = "none";
          topCheckbox.disabled = true
          topCheckbox.checked = false
          checkbox.forEach(cb => {
            cb.disabled = true
            cb.checked = false
          })
          deselectSubscribersBtn.style.display = "none"
          selectSubscribersBtn.style.display = "block"
          removeEmails = []
        })

        // SELECT ALL BUTTON

        selectSubscribersBtn.addEventListener("click", () => {
          topCheckbox.checked = true
          removeEmails = []
          checkbox.forEach((cb) => {
            cb.checked = true;
            removeEmails.push(cb.value);
          })
          document.querySelector('[name="removeEmails"]').value = JSON.stringify(removeEmails);
          deselectSubscribersBtn.style.display = "block"
          selectSubscribersBtn.style.display = "none"
        })

        // DESELECT ALL BUTTON

        deselectSubscribersBtn.addEventListener("click", () => {
          topCheckbox.checked = false
          removeEmails = []
          checkbox.forEach((cb) => {
            cb.checked = false
          })
          document.querySelector('[name="removeEmails"]').value = JSON.stringify(removeEmails);
          deselectSubscribersBtn.style.display = "none"
          selectSubscribersBtn.style.display = "block"
        })

      </script>
      <script src="/js/newsletter-js/newsletter-modal.js"></script>


    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="server-message error">
          <%= message %>
        </div>

      </main>

    <% } %>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

<%- include("partial-views/footer.ejs") %>