<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if(typeof message=="undefined" ) { %>

      <div class="modal-overlay">
        <div class="modal">
          <i class="fa-solid fa-xmark" id="close-modal"></i>
          <form action="/user-management/user-views/delete-user/<%= rows[0].status %>/<%= rows[0].id %>"
            id="delete-user-form" method="GET">
            <h4>Delete this user?</h4>
            <button>Yes</button>
          </form>
        </div>
      </div>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="server-message"></div>

        <br>

        <div class="flex">
          <h3><i class="fa-solid fa-users"></i><span>Users -> Edit User</span></h3>
          <button id="show-modal">Delete user</button>
        </div>
        
        <br>
        
        <form id="update-user-form">
          <input type="hidden" id="id" value="<%= rows[0].id %>">
          <input type="text" id="fName" maxlength="25" placeholder="First name" value="<%= rows[0].fName %>" required disabled>
          <input type="text" id="lName" maxlength="25" placeholder="Last name" value="<%= rows[0].lName %>" required disabled>
          <input type="email" id="email" maxlength="100" placeholder="Email" value="<%= rows[0].email %>" required disabled>
          <div class="admin-user-radios">
            <% if(rows[0].status != "Banned" ) { %>
              <div>
                <label>Ban this user?</label>
              </div>
              <div>
                <input type="radio" name="banned" value="Yes" required>
                <label for="Yes">Yes</label>
                <br>
                <input type="radio" name="banned" value="No" checked required>
                <label for="No">No</label>
              </div>
            <% } else { %>
              <div>
                <label>Unban this user?</label>
              </div>
              <div>
                <input type="radio" name="banned" value="No" required>
                <label for="No">Yes</label>
                <br>
                <input type="radio" name="banned" value="Yes" checked required>
                <label for="Yes">No</label>
              </div>
              <% } %>
            </div>
        
          <div class="admin-user-radios">
            <% if(rows[0].admin == "No") { %>
              <div>
                <label>Make this user an
                  admin?</label>
              </div>
              <div>
                <input type="radio" name="admin" value="Yes" required>
                <label for="Yes">Yes</label>
                <br>
                <input type="radio" name="admin" value="No" checked required>
                <label for="No">No</label>
              </div>
            <% } else { %>
              <div>
                <label>Remove admin priveleges from this user?</label>
              </div>
              <div>
                <input type="radio" name="admin" value="No" required>
                <label for="No">Yes</label>
                <br>
                <input type="radio" name="admin" value="Yes" checked required>
                <label for="Yes">No</label>
              </div>
            <% } %>
          </div>
          <button class="auth-btn">Update</button>
        </form>

      </main>

      <script src="/js/user-js/update-user.js"></script>
      <script src="/js/modal.js"></script>

    <% } else { %>
      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>
    <% } %>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

<%- include("partial-views/footer.ejs") %>