<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>      

        <div class="flex">
          <h3><i class="fa-solid fa-users"></i><span>Users -> View Inactive</span></h3>
          <div>
            <button><a href="/user-management/user-views/inactive-users"><i class="fa-solid fa-eye"></i> All Inactive Users</a></button>
            <button><a href="/user-management/user-views/add-user"><i class="fa-solid fa-plus"></i> Add User</a></button>
          </div>
        </div>

        <br>

        <% if(typeof flash !="undefined" && flash !="" ) { %>
          <div class="server-message success">
            <%= flash %>
          </div>
          <br>
        <% } %>

        <h4>Inactive users (<%= rows.length %>)</h4>

        <br>
        
        <form action="/user-management/user-views/search-inactive-users" method="POST">
          <div class="user-management">
            <input type="text" name="search" placeholder="Search inactive users..."><button>Search</button>
          </div>
        </form>

        <br>
        
        <table>
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Status</th>
            <th class="text-end">Action</th>
          </tr>
          <% for(let i=0;i < rows.length;i++) { %>
            <tr>
              <td>
                <%= rows[i].fName %>
              </td>
              <td>
                <%= rows[i].lName %>
              </td>
              <td>
                <%= rows[i].email %>
              </td>
              <td>
                <%= rows[i].status %>
              </td>
              <td class="text-end">
                <a href="/user-management/user-views/view-user/<%= rows[i].id %>"><i class="fa-solid fa-eye"></i> View</a>
                <% if(user.id !=rows[i].id) { %>
                <a href="/user-management/user-views/edit-user/<%= rows[i].id %>"><i class="fa-solid fa-pencil"></i> Edit</a>
                <% } %>
              </td>
            </tr>
          <% } %>
        </table>
      </main>

    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="server-message error">
          <%= message %>
        </div>

      </main>

    <% } %>

  </div>

  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

<%- include("partial-views/footer.ejs") %>