<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>
    
      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <h3><i class="fa-solid fa-users"></i><span>Users -> View User</span></h3>
          <div>
            <% if(rows[0].status == "Active") { %>
              <button><a href="/user-management/user-views/active-users"><i class="fa-solid fa-eye"></i> All Active Users</a></button>
            <% } else if(rows[0].status == "Banned") { %>
              <button><a href="/user-management/user-views/banned-users"><i class="fa-solid fa-eye"></i> All Banned Users</a></button>
            <% } else if(rows[0].status == "Inactive") { %>
              <button><a href="/user-management/user-views/inactive-users"><i class="fa-solid fa-eye"></i> All Inactive Users</a></button>
            <% } else { %>
              <button><a href="/user-management/user-views/deleted-users"><i class="fa-solid fa-eye"></i> All Deleted Users</a></button>
            <% } %>
            <button><a href="/user-management/user-views/add-user"><i class="fa-solid fa-plus"></i> Add User</a></button>
          </div>
        </div>
        
        <br>

        <table>
          <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Status</th>
            <th>Member Since</th>
            <th>Admin</th>
          </tr>
          <tr>
            <td>
              <%= rows[0].fName %>
            </td>
            <td>
              <%= rows[0].lName %>
            </td>
            <td>
              <%= rows[0].email %>
            </td>
            <td>
              <%= rows[0].status %>
            </td>
            <td>
              <%= rows[0].member_since %>
            </td>
            <td>
              <%= rows[0].admin %>
            </td>
          </tr>
        </table>

      </main>

    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>

    <% } %>

  </div>
    
  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

  <%- include("partial-views/footer.ejs") %>