<%- include("partial-views/header.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>
    
      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <br>
        <br>

        <h3>User management</h3>
        
        <br>

        <h4>Viewing user # <%= rows[0].id %></h4>

        <br>

        <table>
          <tr>
            <th>Id</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Status</th>
            <th>Member Since</th>
            <th>Admin</th>
          </tr>
          <% for(let i=0;i < rows.length;i++) { %>
            <tr>
              <td>
                <%= rows[i].id %>
              </td>
              <td>
                <%= rows[i].fName %>
              </td>
              <td>
                <%= rows[i].lName %>
              </td>
              <td>
                <%= rows[i].email %>
              </td>
              <td>
                <%= rows[i].status %>
              </td>
              <td>
                <%= rows[i].member_since %>
              </td>
              <td>
                <%= rows[i].admin %>
              </td>
            </tr>
            <% } %>
        </table>

      </main>

    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>

    <% } %>

  </div>
    
  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>

  <%- include("partial-views/footer.ejs") %>