<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>
    
      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <div class="flex">
          <a href="/user-management/user-views/<%= status %>"><i class="fa-solid fa-arrow-left"></i></a>
          <button><a href="/user-management/user-views/add-user"><i class="fa-solid fa-plus"></i> Add User</a></button>
        </div>

        <br>

        <div class="flex">
          <h3><i class="fa-solid fa-users"></i><span>Users / View User</span></h3>
        </div>
        
        <br>

        <table>
          <tr>
            <th>Id</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
          </tr>
          <tr>
            <td>
              <%= userId %>
            </td>
            <td>
              <%= result[0].fName %>
            </td>
            <td>
              <%= result[0].lName %>
            </td>
            <td>
              <%= result[0].email %>
            </td>
          </tr>
        </table>

        <br>

        <table>
          <tr>
            <th>Status</th>
            <th>Admin</th>
            <th>Created</th>
            <th>Deleted</th>
          </tr>
          <tr>
            <td>
              <%= result[0].status %>
            </td>
            <td>
              <%= result[0].admin %>
            </td>
            <td>
              <%= result[0].created %>
            </td>
            <td>
              <%= result[0].deleted %>
            </td>
          </tr>
        </table>

        <br>

        <table>
          <tr>
            <th>Provider</th>
          </tr>
          <tr>
            <td>
              <%= result[0].provider %>
            </td>
          </tr>
        </table>

      </main>

    <% } else { %>

      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>

    <% } %>

  </div>
    
  <script src="/js/navbar.js"></script>
  <script src="/js/sidebar-menu.js"></script>

  <%- include("partial-views/footer.ejs") %>