<%- include("partial-views/header.ejs") %>

  <div class="app">

    <%- include("partial-views/sidebar-menu.ejs") %>

    <% if (typeof message=="undefined" ) { %>

      <main class="content">

        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>

        <% if(typeof flash !="undefined" && flash !="" ) { %>
          <div class="server-message success">
            <%= flash %>
          </div>
        <% } %>

        <div class="server-message"></div>

        <div class="flex">
          <h3>eCommerce management</h3>
          <div>
            <button><a href="/ecommerce-management/ecommerce-views/men/view-men-products"><i class="fa-solid fa-eye"></i> All Men's Products</a></button>
            <button><a href="/ecommerce-management/ecommerce-views/add-product"><i class="fa-solid fa-plus"></i> Add Product</a></button>
          </div>
        </div>
        
        <br>

        <div>
          <h4>Search by brand and category</h4>
          <br>
          <form action="/ecommerce-management/search-men-products-by-brand-and-category" method="POST">
            <div class="user-management filter">
              <input type="text" name="pBrand" placeholder="Brand..."><select name="pCategory" required>
                <option selected value="">Category</option>
                <option value="shirts">Shirts</option>
                <option value="pants">Pants</option>
                <option value="sweaters">Jackets</option>
                <option value="jackets">Sweaters</option>
                <option value="shoes">Shoes</option>
                <option value="hats">Hats</option>
                <option value="accessories">Accessories</option>
                <option value="cosmetics">Cosmetics</option>
                <option value="fragrances">Fragrances</option>
                <option value="electronics">Electronics</option>
              </select><button>Search</button>
            </div>
          </form>
          <br>
          <h4>or search by product number</h4>
          <br>
          <form action="/ecommerce-management/search-men-products-by-product-number" method="POST">
              <div class="user-management">
                <input type="text" name="pNumber" placeholder="Product number..."><button>Search</button>
              </div>
          </form>
        </div>

        <br>

        <h4>Men's Products (<%= rows.length %>)</h4>
        
        <br>

        <br>
        
        <div class="cards">
          <% for(let i=0;i < rows.length;i++) { %>
            <div class="card">
              <div class="card-img">
                <img src="http://localhost:5000/ecommerce-management/<%= rows[i].pImage %>" alt="image">
              </div>
              <div class="card-details">
                <div class="card-name">
                  <h4>
                    <%= rows[i].pName %>
                  </h4>
                </div>
                <div class="card-price">
                  <p class="price">
                    $<%= rows[i].pPrice %>
                  </p>
                </div>
                <a href="/ecommerce-management/ecommerce-views/edit-product/<%= rows[i].pId %>"><i class="fa-solid fa-pencil"></i> Edit</a>
              </div>
            </div>
          <% } %>
        </div>

      </main>

    <% } else { %>
      <main class="content">
      
        <div class="sidebar-hamburger">
          <span class="sbar"></span>
          <span class="sbar"></span>
          <span class="sbar"></span>
        </div>
      
        <div class="server-message error">
          <%= message %>
        </div>
      
      </main>
    <% } %>

  </div>

  <script src="/js/sidebar-menu.js"></script>
  <script src="/js/script.js"></script>

  <%- include("partial-views/footer.ejs") %>