<%- include("partial-views/admin-header.ejs") %>
<%- include("partial-views/admin-navbar.ejs") %>


  <% if(typeof message != "undefined") { %>
    <main class="main">
      <div class="container">
        <br>
        <div class="server-message error">
          <p> <%= message %> </p>
        </div>
      </div>
    </main>
  <% } else { %>

    <main class="main">

      <div class="container">

        <br>

        <div class="server-message"></div>

        <br>

        <form id="password-update-form">
          <div class="title">
            <h2>Update password</h2>
          </div>
          <div id="password-container">
            <input type="hidden" id="token" class="form-control" value="<%= token %>">
            <input type="hidden" id="tExpires" class="form-control" value="<%= tExpires %>">
            <input type="hidden" id="id" class="form-control" value="<%= id %>">
            <input type="password" id="password" maxlength="60" placeholder="Password" required>
            <p id="password-strength-text"></p>
          </div>
          <div>
            <input type="password" id="confirm-password" name="cPassword" maxlength="60" placeholder="Confirm password"
              required>
          </div>
          <div class="show-password-signup">
            <div>
              <input type="checkbox" id="show-password">
              <label for="show-password">Show password</label>
            </div>
          </div>
          <div>
            <button class="auth-btn button"><span class="button__text">Update</span></button>
          </div>
        </form>

      </div>

    </main>

    <script src="/js/auth-js/password-update.js"></script>

  <% } %>

  <script src="/js/navbar.js"></script>

<%- include("partial-views/footer.ejs") %>