<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <main class="main">
    <div class="container">
      
      <br>

      <div class="title">
        <h2>Welcome!</h2>
      </div>

      <br>
      <br>

      <% if (typeof user =="undefined") { %>
        <form id="newsletter-form">
          <h2>Newsletter</h2>
          <div class="form-group form-input">
            <label for="newsletter">Email address *</label>
            <input type="email" id="email" value="" placeholder="Email" required>
            <button class="auth-btn button"><span class="button__text">Subscribe</span></button>
          </div>
          <div class="server-message"></div>
        </form>
      <% } %>

      <br>
      <br>

      <div class="title">
        <h2>Shop</h2>
      </div>

      <br>

      <div class="cards">
        <% for(let i=0;i < result.length;i++) { %>
  
          <div class="product-card">

            <div class="product-box-wrapper"><input type="checkbox" value="<%= result[i].image %>" class="product-box"></div>

            <a href="">
              <div class="product-thumb">
                <img src="http://localhost:5000/ecommerce-management/<%= result[i].image %>" alt="image">
              </div>
            </a>


            <div class="product-details">

              <div class="flex">
                <span class="product-category"><%= result[i].gender %> - <%= result[i].category %></span>
                <span class="product-category"><%= result[i].sku %> </span>
              </div>
              

              <div class="product-brand">
                <h4><%= result[i].brand %></h4>
              </div>

              <div style="padding-bottom: 20px;">
                <div class="product-description">
                  <p><%= result[i].description %></p>
                </div>
              </div>
 
              <div class="product-bottom-details">

                <% if(result[i].sale_price) { %>
                  <div class="flex flex-start"></p>
                    <div class="product-price discount">$<%= result[i].price %></div>
                    <div class="product-price">$<%= result[i].sale_price %></div>
                  </div>
                <% } else { %>
                  <div class="product-price">$<%= result[i].price %></div>
                <% } %>
                <div class="product-links">
                  <form action="/add-to-cart" method="POST">
                    <input type="hidden" name="id" value="<%= result[i].id %>">
                    <input type="hidden" name="name" value="<%= result[i].name %>">
                    <input type="hidden" name="brand" value="<%= result[i].brand %>">
                    <input type="hidden" name="category" value="<%= result[i].category %>">
                    <input type="hidden" name="sku" value="<%= result[i].sku %>">
                    <input type="hidden" name="price" value="<%= result[i].price %>">
                    <input type="hidden" name="sale_price" value="<%= result[i].sale_price %>">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="image" value="<%= result[i].image %>">
                    <!-- <input type="submit" value="Add to cart"> -->
                    <button type="submit" style="background-color:transparent;padding: 0;border: none;width: none;"><i class="fa-solid fa-cart-shopping"></i></button>
                  </form>
                </div>
                
              </div>

            </div>
          </div>
         
        <% } %>
      </div>

    </div>
  </main>

  <script src="/js/navbar.js"></script>
  <% if (typeof user =="undefined") { %>
  <script src="/js/page-js/newsletter-form.js"></script>
  <% } %>
  
<%- include("partial-views/footer.ejs") %>