<%- include("partial-views/header.ejs") %>
<%- include("partial-views/navbar.ejs") %>

  <div class="modal-overlay">
    <div class="modal">
      <i class="fa-solid fa-xmark" id="close-modal"></i>
      <form id="delete-account-form">
        <br>
        <div class="server-message"></div>
        <h4>Are your sure?</h4>
        <input type="hidden" id="id" value="<%= user.id %>">
        <input type="hidden" id="email" value="<%= user.email %>">
        <button class="auth-btn button"><span class="button__text">Delete</span></button>
        <br>
      </form>
    </div>
  </div>

  <main class="main">
    <div class="container">
      <br>
      <div class="title">
        <h2>Hello, <%= user.email %>
        </h2>
      </div>
      <div id="delete-account-box">
        <div class="title">
          <h2>Delete Account</h2>
        </div>
        <div class="form-group form-input">
          <button id="show-modal">Delete</button>
        </div>
      </div>
    </div>
  </main>

  <script src="/js/navbar.js"></script>
  <script src="/js/modal.js"></script>
  <script src="/js/delete-account-form.js"></script>

<%- include("partial-views/footer.ejs") %>